body {
  background-image: url("../images/portfolio-background.png");
  margin :  20px;
  color: #ffffff
}
.introduction {
  width: 300px;
  border: 2px solid #000000;
  float: left;
  margin: 15px;
  text-align: center;
}
}
.introduction h1 {
  font-size: 20px;
}
.introduction h2{
  font-size: 18px;
}
.projects {
  width: 300px;
  float: left;
  border: 2px solid #0000FF;
  margin: 15px;
}
.about-me {
  width: 300px;
  float: left;
  border: 2px solid #008000;
  margin: 15px
}
